http://kelevra.io {
    tls coolklm121@gmail.com {
        dns namecheap
    }

    proxy / localhost:443
}

www.kelevra.io {
  tls coolklm121@gmail.com

  log / stdout {combined}
  errors stderr

  proxy / http://web:8080
}
