http://kelevra.io, http://www.kelevra.io {
    tls coolklm121@gmail.com {
        dns namecheap
    }
    redir https://kelevra.io

    #proxy / localhost:443
}

kelevra.io {
  tls coolklm121@gmail.com

  log / stdout {combined}
  errors stderr

  proxy / http://web:8080
}
